*	{
	margin:0px;
	line-height:1.4;
	}
	
	body {
	/*background-color:#FBF2DA;*/
	background-image:url('fondo.png');
	font-family:'Source Code Pro', monospace;
	}
	
	h1 {
	color:white;font-family: 'Babylonica', cursive;
	}
	
	a {
	color:blue;
	text-decoration:none;
	}
	
	a:hover {
	color:black;
	}
	
	#cabecera{
		background-color:red;
		margin-bottom:15px;
		padding:30px;
		text-align:center;
	}
	#menu {
		background-color:pink;
		margin-bottom:15px;
		padding:10px;
		}
	#contenidos {
		background-color:purple;
		width:90%;
		margin:0 auto 0 auto;
		padding:60px;
		border:1px solid black;
		border-radius:10px;
		}
	#piepagina {
		background-color:#e5e5e5;color:blue;
		margin-top:15px;
		padding:20px 0px 20px 20px;
		font-size:14px;
		}
	.enlacesRecursos {
		color:red;
	}
	
	.enlacesRecursos:hover {
	color:#152B3C;
	}
